.gradient {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    334deg,
    var(--bgGradient01),
    var(--bgGradient02),
    var(--bgGradient01)
  );
  background-size: 180% 180%;
  animation: gradient-animation 6s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
